body {
    text-align: center;
    margin: 0;
}
.top {
    padding-top: 5px;
    padding-bottom: 20px;
    position: relative;
    background-color: #F0E9D2 ;
}
.mid {
    padding-top: 20px;
    background-color: #E6DDC4;
    padding-bottom: 20px;
}
.bot {
    background-color: #678983;
    padding-top: 5px;

}
.footer {
    background-color: #181D31;
    padding: 10px;


}
.mountain {
    margin: 50px auto 0;
}
.top-cloud {
    position: absolute;
    width: 15%;
    height: 20%;
    right:  40px;
    top: 20px;

}
.bot-cloud {
    position: absolute;
    width: 15%;
    height: 20%;
    bottom: 200px;
    left: 30px;
}
.boy {
    border-radius: 100%;
}
.first-skill {
    width: 50%;
    margin: 40px auto 40px;
    text-align: left;
}
.second-skill {
    width: 50%;
    margin:  auto;
    text-align: left;
    padding-bottom: 20px;
}
.first-skill-img {
    width: 9rem;
    padding-bottom: 30px;
    float: left;
}
.second-skill-img {
    width: 9rem;
    float: right;
}
h1 {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding-top: 100px;
}
h2 {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 0;
}
h3 {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 0;
}
p {
    margin: 20;
    margin-bottom: 0;
    font-size: 90% ;
    font-family: 'Gwendolyn', cursive;

}
a {
    font-size: 0.7rem;
    text-decoration: none;
    color: #637d78;
    margin: 5px;
}
a:hover {
    color: aquamarine;
}
.pro {
    text-decoration: underline;
}
